@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@300&display=swap');

html {
    width: 100%;
    height: 100vh;
}

body {
    width: 100%;
    height: 100vh;
    text-align: center;
}

h4 {
    font-size: 4rem;
}

#level-title {
    width: 100%;
    margin-top: 1%;
    display: block;
    background-color: transparent;
    text-align: center;
    color: black;
    font-size: 5rem;
    font-family: 'Londrina Solid', cursive;
}

.btn-primary {
    display: inline-block;
    border: #FF0A0A solid 1px;
    color: black;
    border-radius: 30px;
    font-family: 'Londrina Solid', cursive;
    width: auto;
    height: auto;
    font-size: 30px;
    padding: 5px 18px;
    background: linear-gradient(#44f544, yellow, orange, red);
}

#container button {
    border: transparent;
    font-size: 3rem;
    background: linear-gradient(#44f544, yellow, orange, red);
}

#answer-box {
    margin-top: 5px;
    text-align: center;
    background: linear-gradient(#44f544, yellow, orange, red);
    font-size: 3rem;
    line-height: 1em;
    font-family: 'Londrina Solid', cursive;
    margin-left: auto;
    margin-right: auto;
    overflow: visible;
}

#high-score {
    text-align: left;
    margin-top: 10px;
    font-family: 'Londrina Solid', cursive;
    font-weight: 300;
}

#scorestyle,
#highscorestyle {
    padding-right: 10px;
    text-align: center;
    font-family: 'Londrina Solid', cursive;
    font-weight: 300;
    font-size: 4rem;
}

#score {
    padding-right: 10px;
    text-align: right;
    margin-top: 10px;
    font-family: 'Londrina Solid', cursive;
    font-weight: 300;
    font-size: 4rem;
}

#quit {
    margin-top: 10px;
    font-family: 'Londrina Solid', cursive;
    font-size: 2rem;
}

#pcQuit {
    margin-top: 60px;
    font-family: 'Londrina Solid', cursive;
    font-size: 2rem;
}

ol {
    padding-left: 50px;
    margin: 0;
}

#countdown {
    display: inline-block;
    color: black;
    border-radius: 30px;
    font-family: 'Londrina Solid', cursive;
    width: auto;
    height: auto;
    font-size: 4rem;
    padding: 5px 18px;
    background: transparent;
}

#landing-back {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    background: linear-gradient(#44f544, yellow, orange, red);
}

#zoomtitle {
    padding-top: 10%;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
    font-size: 10rem;
    font-family: 'Londrina Solid', cursive;
    animation-name: title;
    animation-duration: 3s;
}

@keyframes title {
    from {
        transform: scale(0.2);
    }

    to {
        transform: scale(1);
    }
}

#main-title {
    margin-left: 0;
    margin-right: 0;
    text-align: center;
    font-size: 10rem;
    font-family: 'Londrina Solid', cursive;
}

#title {
    margin-left: 0;
    margin-right: 0;
    text-align: center;
    font-size: 8rem;
    font-family: 'Londrina Solid', cursive;
}

#subtitle {
    margin-top: 2%;
    display: block;
    background-color: transparent;
    text-align: center;
    color: black;
    font-size: 6rem;
    font-family: 'Londrina Solid', cursive;
}

#instructstyle {
    margin-top: 2%;
    display: block;
    background-color: transparent;
    text-align: center;
    color: black;
    font-size: 2rem;
    font-weight: 300;
    font-family: 'Londrina Solid', cursive;
}

a {
    color: black;
}

a:hover {
    color: red;
}

.btn-group {
    text-align: center;
    top: 20px;
}

#easyBtn {
    margin: 20px 10px;
    font-family: 'Londrina Solid', cursive;
    font-size: 1.5rem;
    text-align: center;
    background-color: #44f544;
    border: black solid 2px;
    border-radius: 10px;
    color: black;
    padding: 10px 24px;
    cursor: pointer;
    float: left;
}

#easyBtn:hover {
    background-color: rgb(59, 212, 59);
}

#mediumBtn {
    margin: 20px 10px;
    font-family: 'Londrina Solid', cursive;
    font-size: 1.5rem;
    text-align: center;
    background-color: orange;
    border: black solid 2px;
    border-radius: 10px;
    color: black;
    padding: 10px 24px;
    cursor: pointer;
    float: left;
}

#mediumBtn:hover {
    background-color: rgb(207, 207, 2);
}

#hardBtn {
    margin: 20px 10px;
    font-family: 'Londrina Solid', cursive;
    font-size: 1.5rem;
    text-align: center;
    background-color: red;
    border: black solid 2px;
    border-radius: 10px;
    color: black;
    padding: 10px 24px;
    cursor: pointer;
    float: left;
}

#hardBtn:hover {
    background-color: rgb(207, 0, 0);
}

#easy-back {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    background: rgb(68, 245, 68);
}

#entrytitle {
    margin-top: 60px;
    display: block;
    background-color: transparent;
    text-align: center;
    color: black;
    font-size: 6rem;
    font-family: 'Londrina Solid', cursive;
}

#medium-back {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    background: #ffa500;
}

#hard-back {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    background: #ff0000;
}

#number1 {
    width: auto;
    height: auto;
    text-align: right;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Londrina Solid', cursive;
    font-size: 1rem;
}

#randoperator {
    width: 50px;
    height: auto;
    text-align: center;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Londrina Solid', cursive;
    font-size: 1rem;
}

#number2 {
    width: auto;
    height: auto;
    text-align: left;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Londrina Solid', cursive;
    font-size: 1rem;
}

.row {
    width: 40%;
    height: auto;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

#gameOver {
    display: none;
    z-index: 2;
    background: linear-gradient(#44f544, yellow, orange, red);
    color: #FFFFFF;
    border: yellow solid 3px;
    border-radius: 50px;
    position: relative;
    width: 60%;
    margin-right: auto;
    margin-left: auto;
    bottom: 320px;
    padding: 6px 8px 8px;
    box-sizing: border-box;
    text-align: center;
    animation-name: title;
    animation-duration: 3s;
}

@keyframes title {
    from {
        transform: scale(0.2);
    }

    to {
        transform: scale(1);
    }
}

#gameOver a {
    background-color: yellow;
    font-size: 2rem;
    font-family: 'Londrina Solid', cursive;
    display: inline-block;
    border-radius: 10px;
    border: black solid 1px;
    margin-top: 15px;
    padding: 5px;
    text-align: center;
    width: auto;
    cursor: pointer;
}

.message {
    font-size: 3rem;
    font-family: 'Londrina Solid', cursive;
    color: black;
    text-align: center;
}

.scoreMessage {
    font-size: 2rem;
    font-family: 'Londrina Solid', cursive;
    color: black;
}

.numpad {
    display: none;
    margin-top: 20px;
}

button {
    margin: 3px;
    display: inline-block;
    border: #FF0A0A solid 1px;
    color: black;
    border-radius: 30px;
    font-family: 'Londrina Solid', cursive;
    width: auto;
    height: auto;
    font-size: 30px;
    padding: 5px 18px;
    background-color: #FCFAF9;
}

button:hover,
button:active {
    color: #FFFDFC;
}

#footer {
    font-size: 1.5rem;
    width: 100%;
    bottom: 2%;
    position: absolute;
    text-align: center;
    font-family: 'Londrina Solid', cursive;
    font-weight: 300;
}

i {
    margin-left: 10px;
}

i:hover {
    color: white;
}

@media screen and (max-width: 1400px) {
    #main-title {
        font-size: 7rem;
    }

    #subtitle {
        font-size: 4rem;
    }

    #instructstyle {
        margin-top: 0;
    }

    #title {
        font-size: 6rem;
    }

    #level-title {
        font-size: 4rem;
    }

    #highscorestyle,
    #scorestyle,
    #score,
    .row h4 {
        font-size: 3rem;
    }

    #countdown {
        font-size: 3rem;
        padding: 0;
        margin: 0;
    }

    #answer-box {
        height: auto;
        font-size: 2rem;
    }

    #gameOver {
        bottom: 300px;
    }

    .message {
        font-size: 2rem;
    }
}

@media screen and (max-width: 1024px) {
    #pcQuit {
        display: none;
    }

    #zoomtitle {
        margin-top: 40%;
        font-size: 8rem;
    }

    #entrytitle {
        font-size: 6rem;
    }

    #main-title {
        font-size: 8rem;
    }

    #title {
        font-size: 7rem;
    }

    #level-title {
        font-size: 6rem;
    }

    #highscorestyle,
    #scorestyle,
    #high-score {
        font-size: 5rem;
    }

    #score {
        font-size: 4rem;
    }

    #countdown {
        font-size: 5rem;
    }

    .row h4 {
        font-size: 5rem;
    }

    #answer-box {
        width: 100%;
        height: 75px;
        line-height: 1em;
        overflow: visible;
        font-size: 4rem;
    }

    .numpad {
        display: block !important;
        margin-top: 60px;
    }

    #rainbow {
        margin-left: 20px;
        margin-right: 20px;
        font-size: 3.5rem;
    }

    #gameOver {
        width: 80%;
        height: 850px;
        bottom: 690px;
    }

    .message {
        font-size: 4rem;
        padding-top: 50px;
    }

    #gameOver a {
        font-size: 3rem;
        margin-top: 50px;
    }

    #quit {
        padding-top: 30px;
        font-size: 3.5rem;
    }

    #subtitle {
        font-size: 5rem;
    }

    #instructstyle {
        font-size: 3rem;
    }

    #easyBtn,
    #mediumBtn,
    #hardBtn {
        font-size: 3rem;
    }

    .btn-group {
        top: 100px;
    }

    #footer {
        font-size: 3rem;
    }
}

@media screen and (max-width: 768px) {
    #zoomtitle {
        margin-top: 20%;
        font-size: 8rem;
    }

    #entrytitle {
        font-size: 6rem;
    }

    #title {
        font-size: 6rem;
    }

    #level-title {
        font-size: 5rem;
    }

    #highscorestyle,
    #scorestyle,
    #high-score {
        font-size: 4rem;
    }

    #instructstyle {
        font-size: 2.5rem;
        padding-left: 40px;
        padding-right: 40px;
    }

    .btn-group {
        top: 0;
        margin-top: 50px;
    }

    #easyBtn,
    #mediumBtn,
    #hardBtn {
        font-size: 2rem;
    }

    #countdown {
        font-size: 4rem;
    }

    .row {
        margin-top: 0;
    }

    .row h4 {
        font-size: 4rem;
    }

    #answer-box {
        height: 55px;
        line-height: 1em;
        font-size: 3rem;
        overflow: visible;
    }

    .numpad {
        margin-top: 20px;
    }

    #rainbow {
        margin-left: 20px;
        margin-right: 20px;
        font-size: 3rem;
    }

    #quit {
        padding-top: 0;
        margin-top: 20px;
        font-size: 3.5rem;
    }

    #gameOver {
        height: 680px;
        bottom: 560px;
        width: 80%;
    }

    .message {
        padding-top: 30px;
        font-size: 3rem;
    }

    #footer {
        display: none;
        font-size: 2rem;
    }
}

@media screen and (max-width: 576px) {
    #zoomtitle {
        margin-top: 40%;
        font-size: 5rem;
    }

    #entrytitle {
        font-size: 3rem;
    }

    h1 {
        padding-top: 0;
    }

    #title {
        font-size: 3rem;
        padding-top: 0;
    }

    #subtitle {
        font-size: 3rem;
    }

    #level-title {
        font-size: 2.5rem;
    }

    #main-title {
        padding-top: 0;
        font-size: 4rem;
    }

    #instructstyle {
        padding-left: 10px;
        font-size: 1.5rem;
    }

    #easyBtn,
    #mediumBtn,
    #hardBtn {
        font-size: 1.5rem;
        padding-left: 5px;
        padding-right: 5px;
        margin: 0;
    }

    .btn-group {
        top: 60px;
        margin-top: 0;
    }

    .btn-group a {
        margin-left: 2px;
        margin-right: 2px;
    }

    #easysubtitle {
        text-align: center;
    }

    #countdown {
        font-size: 3rem;
        height: 60px;
        width: 90%;
    }

    .row {
        width: 100%;
        margin-top: 0;
    }

    .row h4 {
        font-size: 3rem;
    }

    #levelBtn {
        font-size: 22px;
        background: linear-gradient(#44f544, yellow, orange, red);
    }

    #answer-box {
        margin-top: 20px;
        height: 50px;
        width: 60%;
        line-height: 1em;
        font-size: 2.5rem;
        overflow: visible;
    }

    #rainbow {
        margin-left: 0;
        margin-right: 0;
        font-size: 2.5rem;
    }

    #quit {
        font-size: 2.5rem;
        margin-top: 0;
    }

    #highscorestyle,
    #scorestyle,
    #high-score,
    #score {
        margin-bottom: 0;
        font-size: 3rem;
    }

    #confirm {
        width: 350px;
        height: 400px;
    }

    #gameOver {
        bottom: 430px;
        height: 450px;
        width: 95%;
    }

    .message {
        font-size: 2.2rem;
    }

    #gameOver a {
        margin-top: 0;
        font-size: 2rem;
    }

    #footer {
        display: none;
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 415px) {
    #zoomtitle {
        margin-top: 10%;
        font-size: 3rem;
    }

    #entrytitle {
        font-size: 3rem;
    }

    #instructstyle {
        padding-left: 10px;
        padding-right: 10px;
    }

    .btn-group {
        top: 40px;
        margin-top: 0;
    }

    #easyBtn,
    #mediumBtn,
    #hardBtn {
        margin-left: 5px;
        margin-right: 5px;
        padding-left: 2px;
        padding-right: 2px;
    }

    #answer-box {
        line-height: 1em;
        margin-top: 0;
        overflow: visible;
    }

    #rainbow {
        margin-left: 0;
        margin-right: 0;
    }

    #container button {
        font-size: 2rem;
    }

    #gameOver {
        bottom: 410px;
        height: 450px;
        width: 95%;
    }

    .message {
        padding-top: 10px;
    }

    #quit {
        font-size: 2rem;
    }

    footer {
        display: none;
    }
}

@media screen and (max-width: 320px) {
    #main-title {
        font-size: 3rem;
    }

    #subtitle {
        font-size: 2rem;
    }

    #title {
        margin-bottom: 0;
    }

    #level-title {
        margin-top: 0;
    }

    .btn-group {
        top: 0;
    }

    #highscorestyle,
    #scorestyle,
    #high-score,
    #score {
        margin-bottom: 0;
        font-size: 2rem;
    }

    #countdown {
        margin-bottom: 0;
        font-size: 2rem;
    }

    .row h4 {
        font-size: 2rem;
    }

    #answer-box {
        height: 40px;
        line-height: 1em;
        font-size: 1.5rem;
        overflow: visible;
    }

    #container button {
        font-size: 1rem;
        border-radius: 50px;
    }

    #rainbow {
        font-size: 1.5rem;
    }

    #gameOver {
        bottom: 310px;
        height: 310px;
        width: 95%;
    }

    .message {
        font-size: 1.5rem;
    }

    #gameOver a {
        margin-top: 0;
        font-size: 1.5rem;
    }

    footer {
        display: none;
    }
}