@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@300&display=swap');

/*************** General Styling ************/
body {
    width: 100%;
    text-align: center;
}

#level-title {
    width: 100%;
    margin-top: 1%;
    display: block;
    background-color: transparent;
    text-align: center;
    color: black;
    font-size: 3rem;
    font-family: 'Londrina Solid', cursive;
}

#start-button {

    width: 50%;
    border: 1px solid black;
    border-radius: 10px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Londrina Solid', cursive;
    font-size: 4rem;
    background: -webkit-linear-gradient(green, yellow, orange, red);
}

#high-score {
    margin-top: 130px;
    font-family: 'Londrina Solid', cursive;
    font-weight: 300;
    font-size: 2.5rem;
}

#quit {
    margin-top: 10px;
    font-family: 'Londrina Solid', cursive;
    font-size: 2rem;
}

ol {
    padding-left: 50px;
    margin: 0;
}

/*************** Landing Page ***************/
#landing-back {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: -webkit-linear-gradient(green, yellow, orange, red);
}

#zoomtitle {
    padding-top: 10%;
    margin-left: 0, auto;
    margin-right: 0, auto;
    text-align: center;
    font-size: 6rem;
    font-family: 'Londrina Solid', cursive;
    animation-name: title;
    animation-duration: 3s;
    animation-direction: forwards;

}

@keyframes title {
    from {
        transform: scale(.2);
    }

    to {
        transform: scale(1);
    }
}

#title {
    margin-left: 0, auto;
    margin-right: 0, auto;
    text-align: center;
    font-size: 6rem;
    font-family: 'Londrina Solid', cursive;
}

/***************** Introduction Page  ****************/

#subtitle {
    margin-top: 2%;
    display: block;
    background-color: transparent;
    text-align: center;
    color: black;
    font-size: 3rem;
    font-family: 'Londrina Solid', cursive;
}

#instructstyle {
    margin-top: 2%;
    display: block;
    background-color: transparent;
    text-align: center;
    color: black;
    font-size: 2rem;
    font-weight: 300;
    font-family: 'Londrina Solid', cursive;
}

a {
    color: black;
}

a:hover {
    color: red;
}

.btn-group {
    text-align: center;
}

#easybtn {
    margin: 20px 10px;
    font-family: 'Londrina Solid', cursive;
    text-align: center;
    background-color: green;
    border: 1px solid black;
    border-radius: 10px;
    color: black;
    padding: 10px 24px;
    cursor: pointer;
    float: left;

}

#medbtn {
    margin: 20px 10px;
    font-family: 'Londrina Solid', cursive;
    text-align: center;
    background-color: yellow;
    border: 1px solid black;
    border-radius: 10px;
    color: black;
    padding: 10px 24px;
    cursor: pointer;
    float: left;
}

#hardbtn {
    margin: 20px 10px;
    font-family: 'Londrina Solid', cursive;
    text-align: center;
    background-color: orange;
    border: 1px solid black;
    border-radius: 10px;
    color: black;
    padding: 10px 24px;
    cursor: pointer;
    float: left;
}

#genbtn {
    margin: 20px 10px;
    font-family: 'Londrina Solid', cursive;
    text-align: center;
    background-color: red;
    border: 2px solid black;
    border-radius: 10px;
    color: black;
    padding: 10px 24px;
    cursor: pointer;
    float: left;
}

.btn-group button:not(:last-child) {
    border-right: none;
    /* Prevent double borders */
}

/* Clear floats (clearfix hack) */
.btn-group:after {
    content: "";
    clear: both;
    display: table;
}

/* Add a background color on hover */
.btn-group button:hover {
    background-color: #3e8e41;
}

/********************* Easy Level Page ******************/
#easy-back {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgb(68, 245, 68);
}

#entrytitle {
    margin-top: 60px;
    display: block;
    background-color: transparent;
    text-align: center;
    color: black;
    font-size: 3rem;
    font-family: 'Londrina Solid', cursive;
}

/********************* Medium Level Page ******************/
#medium-back {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: yellow;
}

/********************* Hard Level Page ******************/

#hard-back {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: orange;
}

/********************* Genius Level Page ******************/
#genius-back {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: red;
}

/********************* High Scores Page ******************/

#easy-scores {
    font-family: 'Londrina Solid', cursive;
    font-size: 2rem;
    background-color: rgb(68, 245, 68);
}

#medium-scores {
    font-family: 'Londrina Solid', cursive;
    font-size: 2rem;
    background-color: yellow;
}

#hard-scores {
    font-family: 'Londrina Solid', cursive;
    font-size: 2rem;
    background-color: orange;
}

#genius-scores {
    font-family: 'Londrina Solid', cursive;
    font-size: 2rem;
    background-color: red;
}

/******************** Game Elements ****************/

#number1 {
    width: 50%;
    border: 1px solid black;
    border-radius: 10px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Londrina Solid', cursive;
    font-size: 2rem;
    background-color: (green);
}

#rand-operator {
    width: 50%;
    border: 1px solid black;
    border-radius: 10px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Londrina Solid', cursive;
    font-size: 2rem;
    background-color: (green);
}

#number2 {
    width: 50%;
    border: 1px solid black;
    border-radius: 10px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Londrina Solid', cursive;
    font-size: 2rem;
    background-color: (green);
}

@media (max-width: 576px) {
    h1 {
        padding-top: 30%;
    }

    #title {
        font-size: 4rem;
        padding-top: 5%;
    }

    #easysubtitle {
        text-align: center;
    }
}